/* General Container Styling */
.login-container {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 0.9rem;
    color: #888;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .tab-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #888;
  }
  
  .tab.active {
    color: #000;
    border-bottom: 2px solid #007BFF;
  }
  
  /* Form Inputs */
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    position: relative;
    margin: 15px 0;
  }
  
  .input-group input {
    width: 80%;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.2rem;
    color: #aaa;
  }
  
  .input-group i.fa-eye {
    right: 10px;
    left: unset;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  label {
    font-size: 0.9rem;
  }
  
  .login-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  /* Social Login */
  .social-login {
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .social-icons .facebook {
    background-color: #3b5998;
  }
  
  .social-icons .instagram {
    background-color: #E1306C;
  }
  
  .social-icons .pinterest {
    background-color: #bd081c;
  }
  
  .social-icons .linkedin {
    background-color: #0077B5;
  }
  